.description-title {
  font-size: 50px;
  line-spacing: -0.04em;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 0;
}
.description-sub {
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.01rem;
  color: #777;
}
.description {
  padding-bottom: 0.5em;
}