body,
html {
  font-family: 'Montserrat', sans-serif;
}
.description-title {
  font-size: 50px;
  letter-spacing: 0.01rem;
  line-height: 1;
  font-weight: 700;
  margin-bottom: 0;
}
.description-sub {
  font-size: 22px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 20px;
  letter-spacing: 0.01rem;
  color: #777;
}
.description {
  padding-bottom: 0.5em;
  padding-top: 30px;
}
.post {
  padding: 2em 2em 2em 2em;
  display: block;
}
.tags {
  padding-top: 0.5em;
}
.tags a {
  text-decoration: none;
  font-size: 85%;
  color: #999999;
}
.tags a:hover {
  text-decoration: underline;
}
#form-info {
  padding-left: 2em;
  padding-right: 2em;
}
.photo {
  padding-bottom: 0.5em;
}
.post-content {
  margin-right: 20px;
}
.avatar {
  float: left;
  padding-right: 1em;
}
.pagination-fixed {
  position: fixed;
  top: -40px;
  z-index: 999;
  margin-left: -155px;
}
.post small {
  color: #999;
}
.post-footer {
  margin: 1em 0;
}